@-webkit-keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    list-style : none; /* 리스트 스타일 X */
    text-decoration : none; /* a Tag 밑줄 X */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    background-color: black;
    color : white;
}



p, i {
    font-size: 25px;
    background-color: transparent; 
    color: black;
}

a, button{
    cursor: pointer;
}

h2{
    font-size: 30px;
}


main{
    display: flex;
    flex-wrap: wrap;
}

/* ==================================================================== */
nav{
    flex-basis: 100%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    
    position: sticky;
    top: 0;

    z-index: 2;
}

nav >div:nth-child(1){
    flex-basis: 5%;
    padding-left: 20px;
    font-size: 28px;
}

nav >div:nth-child(2){
    flex-basis: 40%;
    padding-left: 30px;
}

nav >div:nth-child(3){
    flex-basis: 35%;
    padding-left: 30px;
}


nav > ul{
    flex-basis: 20%;
    display: flex;
}

nav > ul > li {
    flex-basis: 30%;
    font-size: 30px;  
    padding-left: 30px; 
}


/* ==================================================================== */

aside {

    border-color: 2px solid white;
    flex-basis: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 800px;

    position:sticky;
    top:50px; 

}


/* aside:nth-child(1){
    position: fixed;
} */


aside li{
    margin: 10px;
}

.right-side {
    display: flex;
    justify-content: end;

}


/* =================================================== */
.content{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}


/* 페이지 내용 설정 */
.first-content, 
.third-page{
    height: 878px;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    border: 2px solid snow;
}

/* 첫 번째 페이지 */
.content-header{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;

    padding-top: 80px;
}

.content-header p:nth-child(1){
    color: #749FF3;
    margin-right: 30px;
}

.content-header p:nth-child(2){
    color: #5CEB9A;
    margin-right: 30px;
}

.content-header p:nth-child(3){
    color: #FBBC05;
}

.focus-in-contract{-webkit-animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both}


#search{
    flex-basis: 8%;
    display: flex;
    justify-content: center;
}


#search fieldset{
    border-radius: 5px;
    margin : 0; 
    padding : 2px;

    width: 700px;
    display: flex;
}

#search-input {
    padding : 10px;
    font-size : 18px;
    font-weight: bold;

    border : none; /* 기존의 값을 사라지게하고 fieldset이 border인 듯이 진행*/
    outline : none; /* input 태그에 포커스가 맞춰졌을 때 이를 표현하기 위한 바깥선  */
    /* 둘다 none도 가능하고 0도 가능함.*/

    flex-basis: 92%;
}

#search-btn {
    flex-basis : 8%;
    cursor : pointer;
    font-size : 1.2em; /*아이콘은 폰트사이즈로 변경해야 함.*/
    color : #C8BCBC;
    background-color: transparent;
    border: none;
}

.content-list{
    flex-basis: 47%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.content-list label{
    font-size: 12px;
    text-align: center;
}

.content-list div{
    margin: 0px 30px 10px;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;
}


.content-list img{
    height: 100%;
}

/* ================================================== */
/* 두 번째 페이지 */
.second-content{
    height: 878px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid snow;
}

.profile{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    width : 400px;
    height : 400px;
    border-radius: 50%;
    

    overflow : hidden;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.profile-wrapper > img {
    height: 100%;
}


.profile-content {
    flex-basis: 60%;
    width: 150px;
    height: 400px;
    margin-right: 20px;
    padding : 40px;

    font-size: 40px;

    background-color: #F8FFAB;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
}

.profile-content > h2{
    flex-basis: 100%;
    height: 50px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.profile-content > section {
    flex-basis: 50%;
    display: flex;
    padding : 10px;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}


/* ================================================== */
/* 세 번째 페이지 */
.third-page .skills-title,
.fifth-page .portfolio-title{
    width: 550px;
    height: 110px;
    
    margin:20px;

    background-color: #F8FFAB;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.third-page-section{
    display: flex;
    padding : 10px;
} 

.third-page-section > section{
    width: 450px;
    height: 600px;
    border-radius: 50px;
    margin : 15px
}

.Language-content li:first-child,
.Front-content li:first-child,
.DB-content li:first-child {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.third-page-section > section > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Language-content li:not(:first-child),
.Front-content li:not(:first-child),
.DB-content li:not(:first-child){
    /* background-color: #ff5d  5d; */
    margin : 10px;
    width: 180px;
    height: 180px;  
}

.third-page-section p{
    text-align: center;
}

.third-page-section img{
    height: 100%;
}

.Front-content p{
    padding-right: 30px;
}

.Front-content li:not(:first-child){
    margin : 10px
}

.Language-content{
    background-color: #af98ff;
}
.Language-content:hover,
.Front-content:hover,
.DB-content:hover{
    transform : scale(1.05); 
    transition-duration: 1s;
}

.Front-content{
    background-color: #B9C4FF;
}

.DB-content{
    background-color: #EFEFEF;
}


.social-Repository-title{

    background-color: #EC9D9D ;
    margin: 30px;
    padding-top : 20px;
    width: 550px;
    height: 100px;

}


/* ===================== */
.fifth-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top : 70px;
}

































