@-webkit-keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    list-style : none; /* 리스트 스타일 X */
    text-decoration : none; /* a Tag 밑줄 X */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    background-color: black;
    color : white;
}

a, button{
    cursor: pointer;
}

h2{
    font-size: 30px;
}


main{
    display: flex;
    flex-wrap: wrap;
}

/* ==================================================================== */
nav{
    flex-basis: 100%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    
    position: sticky;
    top: 0;

    z-index: 2;
}

nav >div:nth-child(1){
    flex-basis: 5%;
    padding-left: 20px;
    font-size: 28px;
}

nav >div:nth-child(2){
    flex-basis: 40%;
    padding-left: 30px;
}

nav >div:nth-child(3){
    flex-basis: 35%;
    padding-left: 30px;
}


nav > ul{
    flex-basis: 20%;
    display: flex;
}

nav > ul > li {
    flex-basis: 30%;
    font-size: 30px;  
    padding-left: 30px; 
}


/* ==================================================================== */

aside {

    border-color: 2px solid white;
    flex-basis: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 550px;

    position:sticky;
    top:50px; 

}


aside:nth-child(1){
    position: fixed;
}


aside li{
    margin: 10px;
}

.right-side {
    display: flex;
    justify-content: end;

}


/* =================================================== */
.content{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}



.first-content{
    height: 570px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}


.content-header{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    padding-top: 80px;
}

.content-header p:nth-child(1){
    color: #749FF3;
    margin-right: 30px;
}

.content-header p:nth-child(2){
    color: #5CEB9A;
    margin-right: 30px;
}

.content-header p:nth-child(3){
    color: #FBBC05;
}

.focus-in-contract{-webkit-animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both}


#search{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}


#search fieldset{
    border-radius: 5px;
    margin : 0; 
    padding : 2px;

    width: 500px;
    display: flex;
}

#search-input {
    padding : 10px;
    font-size : 18px;
    font-weight: bold;

    border : none; /* 기존의 값을 사라지게하고 fieldset이 border인 듯이 진행*/
    outline : none; /* input 태그에 포커스가 맞춰졌을 때 이를 표현하기 위한 바깥선  */
    /* 둘다 none도 가능하고 0도 가능함.*/

    flex-basis: 92%;
}

#search-btn {
    flex-basis : 8%;
    cursor : pointer;
    font-size : 1.2em; /*아이콘은 폰트사이즈로 변경해야 함.*/
    color : #C8BCBC;
    background-color: transparent;
    border: none;
}

.content-list{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.content-list label{
    font-size: 12px;
    text-align: center;
}

.content-list div{
    margin: 0px 30px 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;
}


.content-list img{
    height: 100%;
}

/* ================================================== */
